.container
  .row
    .col-lg-8.col-md-8.col-sm-12
      %h2
        Directions
      %p
        Project Escape is in a convenient location accessible from areas throughout the Philadelphia region!
        We are a block away from the NA Ikea Headquarters, on the corner of Alan Wood Rd and Ridge Pike!
      %p
        Plenty of on site parking, and lots of other entertainment venues in the area will make your night
        at Project Escape a night to remember!
      %br
    .col-lg-8.col-md-8.col-sm-12
      .google-maps
        %iframe{:frameborder => "0", :height => "440", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?hl=en&q=1495 alan wood rd. conshohocken, pa, 19428&ie=UTF8&t=m&z=15&iwloc=B&output=embed", :width => "700"}

