%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
.center
  Wall
.center{style: "border-top: 1px solid black"}
  =image_tag("directions.png",size:"400x400")
  %p
    %strong
      Face
  %p
    14.52-15.19 SE
  %p
    14.75-15.64 N
  %p
    14.83-15.20 NW
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br