%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br

.center{}
  .flip
    =image_tag("compass.png",size:"400x400")
    %p
      %br
      The signs tell me the way to face.
    %p
      =image_tag("runes.png", size:"300x180")

.center.flip

%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br