%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br

.center
  .flip
    .center.compass
      %p.white-text.bigger
        Born, and lost,
      %p.white-text.bigger
        Each artists leaves a symbol
      %p.white-text.bigger
        Its number will point you in the right direction.
      %hr
      =image_tag("busts.png",size:"700x350")
      %hr
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br