%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br

.center{}
  .flip
    =image_tag("compass.png",size:"400x400")
    %p
      =image_tag("runes.png", size:"400x240")

.center.flip
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br