%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br

.center{style: "border-bottom: 1px solid black"}
  .flip
    =image_tag("directions.png",size:"400x400")
    %p
      14.75-15.64 NE
    %p
      14.52-15.19 N
    %p
      14.83-15.20 NW
.center.flip
  Wall
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br