.container
  .booking
    %h1.h1custom
      Schedule a Time
    %p
      Each Project Escape experience will last 1 hour.  Book now to ensure you get our desired time slot!
    %hr
    =image_tag("booking.jpg", size:'600x305', :crop => :fill)
    %script{src:"https://embed.zapla.co/embed.js#account=732", async:true, defer:true}