.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-12
      %h1.h1custom
        Schedule a Time
      %p
        Each Project Escape experience will last 1 hour.  Book now to ensure you get our desired time slot!
      %hr
      %p
        We are not open yet!  We plan to launch in
        %strong Late March
        or
        %strong Early April.
        However, if you would like to make an inquiry please call
        %i.fa.fa-phone
        610-405-2769, and we can discuss
        scheduling you as one of our first events!
      -#%script{src:"https://bookeo.com/widget.js?a=41553LC3KLU1522774572F", async:true, defer:true}
      -#%script{src:"https://embed.zapla.co/embed.js#account=732", async:true, defer:true}