.container
  .row
    .col-lg-12.col-md-12.col-sm-12
      %h1.h1custom
        Schedule a Time
      %p
        Each Project Escape experience will last 1 hour.  Book now to ensure you get your desired time slot!
      %p
        Our room is built to accommodate up to 8 players.  If your group has less than 8,
        you may be paired with other players who will fill the empty spaces.
      %p
        If no one else books these spaces, you will play the game with only your group!  Keep in mind,
        the only way to ensure you have a private group is to bring 7 other friends!
      %hr
      %p
        We are offering private events! Please call
        %i.fa.fa-phone
        484-535-3108, and we can discuss
        different packages.
  #bookify-wrapper

:javascript
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://projectescape.bookifyapp.com/integration/platform";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'bookify-pi'));
//
//-#%script{src:"https://bookeo.com/widget.js?a=41553LC3KLU1522774572F", async:true, defer:true}
//-#%script{src:"https://bookeo.com/widget.js?a=41553LC3KLU1522774572F", async:true, defer:true}
//%script{src:"https://embed.zapla.co/embed.js#account=732", async:true, defer:true}
//-##bookify-wrapper
//-#:javascript
//-#  (function(d, s, id) {
//-#  var js, fjs = d.getElementsByTagName(s)[0];
//-#  if (d.getElementById(id)) return;
//-#  js = d.createElement(s); js.id = id;
//-#  js.src = "https://cliqboards.bookifyapp.com/integration/platform";
//-#  fjs.parentNode.insertBefore(js, fjs);
//-#  }(document, 'script', 'bookify-pi'));