.container
  .row
    .col-lg-12.col-md-12.col-sm-12
      %h1.h1custom
        Schedule a Time
      %p
        Each Project Escape experience will last 1 hour.  Book now to ensure you get your desired time slot!
      %p
        Our room is built to accommodate up to 10 players.  If your group has less than 8,
        you may be paired with other players who will fill the empty spaces.
      %p
        If no one else books these spaces, you will play the game with only your group!  Keep in mind,
        the only way to ensure you have a private group is to bring 7 other friends!
      %hr
      %p
        We are offering private events! Please call
        %i.fa.fa-phone
        484-535-3108, and we can discuss
        different packages.
      %p
        Project Escape is built for adults, however, youngsters have been very successful in our room.  If you decide to bring children, we require
        supervision inside the room.
      %h3
        %b So you've booked! Awesome! What now?
        %br
        %br
        %p
          You'll need to bring only yourself and your friends.  No other items are required.
          Please show up 15 minutes early so we can explain the rules and get you ready!
        %p
          The countdown starts exactly
          %b on time!
          So if you're late, you'll be missing valuable seconds!
      %p.small-text
        please allow 24 hours notice for partial refunds. click here for our
        =link_to "refund policy", "", "data-target" => "#myModal", "data-toggle" => "modal"


  / Button trigger modal
  / Modal
  #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title Project Escape Refund Policy
        .modal-body
          %h3
            %strong Cancellations:
          %p
            If for some reason you need to cancel, please call us at least 24 hours prior to your
            scheduled booking time.  We can not provide a refund if you
            %strong
              do not
            give us 24 hour notice!  In the event where you must cancel, we will allow a one time
            courtesy rescheduling time if you call prior to your booking time.
          %h3
            %strong Rescheduling
          %p
            If for some reason you can not make it to your booking, we will allow you to reschedule.
            Please call us at least 24 hours prior to reschedule.
          %p
            We want you to enjoy our room as much as we do! Please keep this refund policy in mind
            while booking!  Thank you.
  -##bookify-wrapper

:javascript
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://projectescape.bookifyapp.com/integration/platform";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'bookify-pi'));