.container
  %h1 Planning a Corporate Event?
  %p
    This page is currently
    %span.yellow
      under construction.
  %p
    However, we are very interested in speaking to you about your next
    corporate outing or team building exercise.
  %p
    Please call us at
    %i.fa.fa-mobile-phone.phone.black
    %span.phone-number.black
      ="484-535-3108"
    to discuss different packages
