.row
  .col-xl-4.col-lg-4.col-md-4.col-sm-12.event
    .event-icon
      .fa.fa-birthday-cake
    .event-label
      A Unique Night Out
    %p
      %br
        Project Escape is for people of all ages and skill sets.
        You do not need to have any special knowledge
        to solve the puzzles and have a good time.  Just be creative and
        curious.
  .col-lg-4.col-md-4.col-sm-12.event
    .event-icon
      .fa.fa-users
    .event-label
      Celebrate Special Events
    %p
      %br
        If you would like to have a special event such as a birthday party
        at Project Escape make sure to call us, In addition to the excitement
        of we can provide food, drinks and entertainment tailored to suit your needs.
  .col-lg-4.col-md-4.col-sm-12.event
    .event-icon
      .fa.fa-users
    .event-label
      Collaborative Team Building
    %p
      %br
        The game is designed for intense cooperation and working together.
        This is a perfect way for the office
        to get out for a high quality team building exercise