-@posts.each do |post|
  .post-container
    .post-header
      .post-heading.pull-left
        =post.heading
      %p.post-date
        =post.updated_at.to_date

      %hr
    .post-content
      %p
        =post.content.html_safe