.container-fluid
  .row.info-image
    .information.col-lg-6.col-md-6.col-sm-12.col-md-offset-3
      .what-is
        .escape-image
          =image_tag "projectescape.png", size:"350x162"
        %p
          Project Escape offers a 1 hour immersive experience for up to 10 players.
        %hr
        %p
          Test your wit, and try to escape from our unique Escape Room, featuring
          innovative and challenging puzzles, dynamic clues featuring professional
          voice acting, and more!
.events
  .row
    .col-xl-4.col-lg-4.col-md-4.col-sm-12.event
      .event-icon
        .fa.fa-birthday-cake
        .event-label
          Special Events
          %p
            %br
            If you would like to have a special event such as your birthday at Escape the Room, make sure to call us! We can help make your experience special and tailored to the amount of people you would like to have.
    .col-lg-4.col-md-4.col-sm-12.event
      .event-icon
        .fa.fa-users
        .event-label
          Team Building
          %p
            %br
            The game is designed for intense cooperation and working together.  This is a perfect way for the office to get out for a high quality team building exercise.
    .col-lg-4.col-md-4.col-sm-12.event
      .event-icon
        .fa.fa-bicycle
        .event-label
          A Night Out!
          %p
            %br
            Escape the Room is for people of all ages and skill sets.  You do not need to have any special knowledge to solve the puzzles and have a good time.  Just be creative and curious!