
.container-fluid
  .container
    %br
    %p.center.whitebg
      Ready for a
      %span.yellow
        new
      and
      %span.yellow
        unique
      experience! Get together with friends and book now for the
      %span.black
        best time out
      in a long time!
  .container
    .what-is
      %hr
        =render "welcome/excite_text"
      %hr
      %p
        %strong
          Project Escape has a strong commitment towards quality, and our rooms show it!  When you
          join us, you and your friends will get to take part in an intricate plot with a myriad of
          clever puzzles seamlessly woven together. This is an experience you won't stop talking about!
      %hr
      %p
        Both Experts and novice escape room fans will all have a great time joining the Bosses crew,
        and stealing back the elegant Millennium Diamond. Featuring professional
        voice acting, and a series of dynamic puzzles, our first room is only the beginning in a line of
        expertly crafted escape room games.  Book now to experience the phenomenon.
.events
  =render "events"