.container
  .row
    .col-lg-6.col-md-6.col-sm-12.col-lg-offset-3.col-md-offset-3
      %h1
        Our Team
      %p
        Project Escape brings many different talents to the table.  Below is a list of our employees
      %ul.list-group
        %li.list-group-item
          .fa.fa-user
          Rick Mason
          %hr
          %p
            Bringing a passion for technology and games, ladida.
        %li.list-group-item
          .fa.fa-user
          Kim Lao
        %li.list-group-item
          .fa.fa-user
          Dennis Du
        %li.list-group-item
          .fa.fa-user
          Kim Studebaker
