.container
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      %hr
  .row
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.center
      =image_tag ('heist-banner.png'),  style: 'width:100%;height:auto;max-width: 400px'
    .col-lg-8.col-md-8.col-sm-6.col-xs-12
      %h1.h1custom1
        The Big Score
        %p
          %i The Heist of the Century
      %p
        %b
          An
          %span.yellow instant classic!
          This is the perfect room for new escape room goers!
          Offering a
          %span.yellow moderate difficulty
          level, by the time you are done, you'll be an escape room
          vet, and ready for our next, slightly more challenging room!
      %hr
      %p
        You have been recruited by the infamous and renowned
        theft ring, the
        %strong Shrouded Hand,
        and tasked with stealing one of the most famous diamonds in the world,
        the
        %strong Millennium Diamond!
      %p
        The mark? The Viper - one of the head bosses of the Syndicate, a darker, more
        ruthless theft ring.
      %p
        Break in, steal the diamond, then get out!  Be quick though, you only have an hour before
        The Viper and his goons get back!
      %p
        Are you up to the task?
      =render 'layouts/bookings'
  %hr
  .row
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.center
      =image_tag ('banner-small.png'),  style: 'width:100%;height:auto;max-width: 400px'
    .col-lg-8.col-md-8.col-sm-6.col-xs-12
      %h1.h1custom1
        The Wizard's Secret
        %p
          %i A Harry Potter Inspired Escape Room!
      %p
        Escape from Azkaban in this Harry Potter inspired escape theme!
      %p
        You have been tricked by a dark wizard and forced to take his spot in the dreaded prison of Azkaban. Your easiest task will be escaping the cell!
      %p
        Once you're out, you'll encounter a magical world of potions, spells and wizardry!  Can you figure out the Wizard's secret before the guards realize you're gone?!
      =render 'layouts/bookings'