/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
  font-family: 'Open Sans'!important;
  background-color: #fff/* nb*/;
  padding-top: 30px;
}

header {
  padding: 10px 10px 0px 10px;

  width: 100%;
  display:block;
//  background-color: #2f465e
}
.logo {
  font-family: Arial;
  font-size: 25px;
  font-weight: bolder;
}
.escape-image{
  margin: 25px 0px;
}
.info-image {
//  background-image: image-url('repeating-bg.jpg');
}
.red {
  float:left;
  color:red;
}
.logo-text {
  float:left;
  color:white;
}
.booking {
  width: 600px;
  margin:auto;
}

.information {
  padding: 0px 20px;
  margin-top: 20px;
  color: #ebebeb;
}
.what-is {
  text-align: center;
  margin-bottom: 30px;
  p {
    letter-spacing: 1px;
    color: black;
  }
}
.h1custom {
  letter-spacing: 3px;
  font-size: 35px;
  font-family: "Open Sans";
  color: #999;
}

.events {
  background-color:#ebebeb;
  padding: 30px;
}

.event {
  padding:0px 20px;
}

.event-icon {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  color: white;
  text-align:center;
  font-size: 50px;
  letter-spacing: 3px;

  .event-label {
    color: #424242;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bold;
  }
  p {
    font-size: 12px;
    letter-spacing: 0px;

  }
}

.info-image {
}

footer {
  text-align: center;
}

.bookings {
  width: 600px;
  margin:auto;
}


h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
h3 {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: 'Open Sans';
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: 'Open Sans';
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
