/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
//dark yellow:  e3a912 || db0202  :dark red
//light yellow: ebbc4f ||
html {
  padding:0;
  margin:0;
}

.bold {
  font-weight: bold;
}

body {
  color: #353131;
  font-family: 'Open Sans'!important;
  background-color: #fff/* nb*/;
}

header {
  padding: 0px;
  width: 100%;
  display:block;
//  background-color: #2f465e
}

.top {
  padding-top: 10px;
  height: 105px;
  background: #e3a912; /* Old browsers */
  background: -moz-linear-gradient(top,  #e3a912 0%, #ebbc4f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e3a912 0%,#ebbc4f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e3a912 0%,#ebbc4f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaaf2e', endColorstr='#ebbc4f',GradientType=0 ); /* IE6-9 */
  border-bottom: 2px #e7e7e7 solid;
}

.header-nav {
  margin-top: -25px;
}

.logo {
  font-family: Arial;
  font-size: 25px;
  font-weight: bolder;
}
.escape-image{
  margin-bottom: 15px;
  img {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }
}
.info-image {
//  background-image: image-url('repeating-bg.jpg');
}
.red {
  float:left;
  color:red;
}

.booking {
  padding-top:20px;
  width: 600px;
  margin:auto;
}

.information {
  margin-top: 20px;
}
.what-is {
  text-align: center;
  margin-bottom: 30px;
  p {
    letter-spacing: 1px;
  }
}
.h1custom {
  letter-spacing: 3px;
  font-size: 35px;
  font-family: "Open Sans";
}

.events {
  background-color:#6e787b;
  padding: 30px;
}

.event {
  padding:0px 20px;
  text-align:center;
  color: white;
  .event-icon {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
  }
  .event-label {
    font-size: 20px;
    color: #ebbc4f;
    font-weight: bold;
  }
  p {
    font-size: 12px;
    letter-spacing: 0px;
  }
}



.info-image {
}

footer {
  text-align: center;
}

.bookings {
  width: 600px;
  margin:auto;
}


h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
h3 {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: 'Open Sans';
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: 'Open Sans';
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.location {
  color:white;
  display: inline-block;
  font-size: 14px!important;
  margin-bottom: 0px;
  margin-right: 10px;
  font-family: 'Passion One', cursive;
  letter-spacing: 1px;
  a {
    color: white;
  }
  a:hover {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
  }
  .phone {
    color: white;
  }
  .phone-number {
    color: #6e787b;
  }
}

.loc_icon {
  padding-bottom: 0px!important;
}

.map-marker {
  margin-right: 10px;
  height: 60px;
  width: 60px;
  margin-top: 2px;
  opacity: 0.2;
  background-image: image-url('Google_Maps_Icon.png');
  background-size: 60px 60px;
  background-repeat: no-repeat;
  a {
    display:block;
    width: 100%;
    height: 100%;
  }
}

.map-marker:hover {
  opacity:1;
}

.google-maps {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

.location-container {
  position:relative;
  height: 60px;
}

.center {
  margin:auto;
}

.small-only {
  display:none;
}

.book-now {
  padding-top: 5px;
}

.brand-text-top {
  margin-left: 5px;
  font-size: 45px;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: -2px;
}

.brand-text-small {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 30px;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: -2px;
  .brand-escape {
    color: #EBBC4F;
  }
}
.brand-project {
  color: #231f20;
}
.brand-escape {
  color:#6e787b;
}
.brand-text-small-image {
  float:left;
}
.brand-text-small-text {
  float:left;
  margin-left: 10px;
  margin-top: 12px;
}

.maps {
  opacity: 1;
  font-size: 50px!important;
  color:white;
  margin-top:5px;
  margin-right: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.maps:hover {
  opacity: .8;
}

.banner {
  margin-top: 20px!important;
  float: none;
  margin: 0 auto;
  overflow:hidden;
  max-width: 500px;
  height: 200px;
  border-radius: 20px;
  img {
    margin-left: -50px;
    margin-top: -50px;
  }
}

#time {
  font-size: 30px;
  color: #EBBC4F;
  font-family: 'Iceland', cursive;
}