/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

html {
  padding:0;
  margin:0;
}

.bold {
  font-weight: bold;
}

body {
  color: #353131;
  font-family: 'Open Sans'!important;
  background-color: #fff/* nb*/;
  padding-top: 40px;
}

header {
  padding: 10px 10px 0px 10px;

  width: 100%;
  display:block;
//  background-color: #2f465e
}
.logo {
  font-family: Arial;
  font-size: 25px;
  font-weight: bolder;
}
.escape-image{
  margin-bottom: 15px;
  img {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }
}
.info-image {
//  background-image: image-url('repeating-bg.jpg');
}
.red {
  float:left;
  color:red;
}

.booking {
  padding-top:20px;
  width: 600px;
  margin:auto;
}

.information {
  margin-top: 20px;
}
.what-is {
  text-align: center;
  margin-bottom: 30px;
  p {
    letter-spacing: 1px;
  }
}
.h1custom {
  letter-spacing: 3px;
  font-size: 35px;
  font-family: "Open Sans";
}

.events {
  background-color:#ebebeb;
  padding: 30px;
}

.event {
  padding:0px 20px;
  text-align:center;
  .event-icon {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
  }
  .event-label {
    font-size: 20px;
  }
  p {
    font-size: 12px;
    letter-spacing: 0px;

  }
}



.info-image {
}

footer {
  text-align: center;
}

.bookings {
  width: 600px;
  margin:auto;
}


h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
h3 {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: 'Open Sans';
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: 'Open Sans';
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.location {
  font-size: 12px!important;
  padding: 6px 10px 0px 7px;
  margin-bottom: 0px;
  a:hover {
    background-color: transparent;
    color: black;
    text-decoration: none;
  }
}

.loc_icon {
  padding-bottom: 0px!important;
}

.map-marker {
  display: block;
  height: 36px;
  width: 36px;
  margin-top: 8px;
  background-image: image-url('Google_Maps_Icon.png');
  background-size: 36px 36px;
  background-repeat: no-repeat;
}

.google-maps {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

.center {
  margin:auto;
}