-#=link_to "Book Now!", "https://fareharbor.com/embeds/book/projectescaperoom/items/29560/?full-items=yes", class:"btn btn-success #{@full_width_css}"
%a.peek-book-btn-green.peek-book-button-flat.peek-book-button-size-md.peek-up{"data-button-text" => "Book Now!", :href => "https://www.peek.com/s/16b0211e-1bb1-4e9e-a9d6-e76a74fa5b70/bEq9"} Project Escape Room Conshohocken