%table.timekeeper
  %tbody
    %tr.white
      %td Room
      %td Active
      %td Start/Stop
      %td Time
      %td Adjust
    %tr
      %td.white
        =tk.room.capitalize
      %td
        -if tk.room == "wizard"
          #wizardisrunning
        -if tk.room == "heist"
          #heistisrunning
      %td
        #startstop
          =render "countdown/startstop", tk: tk
      %td
        %span#ctime1
      %td
        =form_tag(addtime_countdown_index_path(tk:tk), method: 'post', remote:true) do
          = label_tag 'Time+/-'
          = number_field_tag :astime, "", class:'black-text smallinput'
          %button{class:'btn btn-primary'}
            +/-
