.pull-left
  .brand-image-top
    = link_to root_path, class: 'navbar-brand' do
      =image_tag "pe-logo-black.png", size:'91x60'
    %span.brand-text-top
      =render "layouts/brand_text"
.location-container.pull-right
  .pull-left
    =link_to "directions" do
      %i.fa.fa-map-marker.maps
  .location
    =link_to "directions" do
      1495 Alan Wood Rd.
      %br
      Consohocken PA, 19403
      %br
    %i.fa.fa-mobile-phone.phone
    %span.phone-number
      ="484-535-3108 | "
    =link_to("mailto:bookings@projectescaperoom.com") do
      %i.fa.fa-envelope
  .book-now.navbar-btn.pull-right
    =render 'layouts/bookings'