.pull-left
  .brand-image-top
    = link_to root_path, class: 'navbar-brand' do
      =image_tag "pe-logo-black.png", size:'91x60'
    %span.brand-text-top
      =render "layouts/brand_text"
.location-container.pull-right
  .pull-left
    =link_to "directions" do
      %i.fa.fa-map-marker.maps
  .location{itemprop:"address", itemscope:true, itemtype:"http://schema.org/PostalAddress"}
    =link_to "directions" do
      %span{itemprop:"streetAddress"}
        1495 Alan Wood Rd.
      %br
        %span{itemprop:"addressLocality"}
          Consohocken
        %span{itemprop:"addressRegion"}
          PA
        %span{itemprop:"postalCode"}
          19403
    %i.fa.fa-mobile-phone.phone
    %span.phone-number{itemprop:"telephone"}
      ="484-535-3108"
    %span.phone-number
      ="|"
    =link_to("<span itemprop='email'>mailto:bookings@projectescaperoom.com</span>") do
      %i.fa.fa-envelope
  .book-now.navbar-btn.pull-right
    =render 'layouts/bookings'